In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [62]:
df=pd.read_csv("Train.csv")

In [63]:
df.head()

   feature_1  feature_2  feature_3  feature_4  feature_5     target
0   0.293416  -0.945599  -0.421105   0.406816   0.525662 -82.154667
1  -0.836084  -0.189228  -0.776403  -1.053831   0.597997 -48.897960
2   0.236425   0.132836  -0.147723   0.699854  -0.187364  77.270371
3   0.175312   0.143194  -0.581111  -0.122107  -1.292168  -2.988581
4  -1.693011   0.542712  -2.798729  -0.686723   1.244077 -37.596722

In [64]:
y=df["target"]

In [65]:
x=df.drop(["target"],axis=1)

In [66]:
x=x.values
y=y.values

In [67]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.15)

In [25]:
x_train.shape

(1360, 5)

In [68]:
y_test.shape

(240,)

In [69]:
from sklearn.linear_model import LinearRegression

In [70]:
le=LinearRegression(normalize=True,n_jobs=0)

In [71]:
le.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=0, normalize=True)

In [72]:
le.score(x_test,y_test)

0.9685405595570035

In [73]:
df2=pd.read_csv("Test.csv")

In [74]:
df2.head()

   feature_1  feature_2  feature_3  feature_4  feature_5
0   1.015254   2.076209  -0.266435  -2.418088  -0.980503
1  -0.375021   0.953185   0.626719   0.704406  -0.355489
2  -1.024452   0.962991  -0.407942  -1.861274   0.455201
3  -2.489841   0.544802   0.601219  -0.607021  -1.314286
4  -0.384675  -0.833624   1.358552  -0.547932   0.411925

In [75]:
t=df2.values

In [76]:
p=le.predict(t)

In [77]:
p.shape

(400,)

In [78]:
t.shape

(400, 5)

In [81]:
m=pd.DataFrame(p,columns=["target"])

In [82]:
m.to_csv("pred.csv",index_label="Id")